{%- assign image = include.image -%}
{%- assign standard_width = image.width | divided_by: 2 -%}
{%- if include.priority -%}
{%- assign loading_attributes = 'fetchpriority="high"' -%}
{%- else -%}
{%- assign loading_attributes = 'loading="lazy" decoding="async"' -%}
{%- endif -%}
<picture>
  <source
    type="image/avif"
    srcset="/assets/{{ image.base }}-640.avif 640w, /assets/{{ image.base }}.avif {{ image.width }}w"
    sizes="{{ include.sizes }}"
  />
  <source
    type="image/webp"
    srcset="/assets/{{ image.base }}-640.webp 640w, /assets/{{ image.base }}.webp {{ image.width }}w"
    sizes="{{ include.sizes }}"
  />
  <img
    src="/assets/{{ image.base }}@1x.png"
    srcset="/assets/{{ image.base }}@1x.png {{ standard_width }}w, /assets/{{ image.base }}@2x.png {{ image.width }}w"
    sizes="{{ include.sizes }}"
    width="{{ image.width }}"
    height="{{ image.height }}"
    alt="{{ image.alt }}"
    {{ loading_attributes }}
  />
</picture>
