<nav>
  <ul>
    <li><a href="/" class="{% if page.url == '/' %}active{% endif %}">Zentsu</a></li>
    <li>
      <a href="/apps.html" class="{% if page.url == '/apps.html' %}active{% endif %}">Apps</a>
    </li>
    <li>
      <a href="/privacy.html" class="{% if page.url == '/privacy.html' %}active{% endif %}"
        >Privacy Policy</a
      >
    </li>
    <li>
      <a href="/terms.html" class="{% if page.url == '/terms.html' %}active{% endif %}"
        >Terms of Use</a
      >
    </li>
  </ul>
</nav>
