            <article class="dial-grid-card dial-grid-card-screenshot">
              <span class="dial-pro-tag">Dial Pro</span>
              <div class="dial-grid-card-media dial-grid-card-media-navy">
                <figure class="dial-phone dial-phone-card">
                  {%- assign history_sizes = include.sizes | default: card_sizes -%}
                  {% include dial-shot.html image=copy.images.history sizes=history_sizes %}
                </figure>
              </div>
              <h3>
                {{ copy.history.history_card_title | default: site.data.dial.en.history.history_card_title }}
              </h3>
              <p>{{ copy.history.body | default: site.data.dial.en.history.body }}</p>
            </article>
