    {%- assign strings = site.data.i18n[page.lang] | default: site.data.i18n.en %}
    <script type="application/json" id="dial-price-data">
      {
        "lang": {{ page.lang | jsonify }},
        "defaultCurrency": {{ prices.currency | jsonify }},
        "defaultNote": {{ storefront.note | jsonify }},
        "overrideNote": {{ strings.price_shown_in | jsonify }},
        "prices": {{ site.data.dial_prices | jsonify }}
      }
    </script>
    <script src="/dial-currency.js?v={{ site.time | date: '%s' }}"></script>
    <script src="/dial-sticky.js?v={{ site.time | date: '%s' }}" defer></script>
